@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 80 10% 10%;
    --foreground: 80 10% 95%;
    --card: 80 10% 13%;
    --card-foreground: 80 10% 95%;
    --popover: 80 10% 13%;
    --popover-foreground: 80 10% 95%;
    --primary: 80 30% 45%;
    --primary-foreground: 80 10% 95%;
    --secondary: 80 20% 25%;
    --secondary-foreground: 80 10% 95%;
    --muted: 80 20% 25%;
    --muted-foreground: 80 10% 60%;
    --accent: 80 30% 50%;
    --accent-foreground: 80 10% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 80 20% 25%;
    --input: 80 15% 20%;
    --ring: 80 30% 50%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
}
